.recommendations {
  padding-top: 1em;
  padding-bottom: 3em;
 
  /* background-color: rgba(0, 0, 0, 0.847); */
 }
 .section-title {
  margin: 1em;
  width: 20%;
  background-color: rgb(164, 57, 75);
  color: white;
  font-family: 'Arial', sans-serif; 
  padding: 10px;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;

}
 
 .movie-list {
   display: flex;
   flex-wrap: wrap;
   gap: 22px;
   padding-left: 20px;
   /* padding-right: 5px; */
   
 }
 
 .movie-card {
   width: 200px;
   text-align: center;
   /* background-color: black; */
   overflow: hidden; /* Ensure content stays within bounds */
 }
 
 .movie-card img {
   width: 100%;
   height: 100%;
   border-radius: 4px;
   transition: transform 0.3s ease, filter 0.3s ease; /* Smooth image hover effect */
 }
 
 .movie-card:hover img {
   transform: scale(1.05); /* Slight zoom effect on hover */
  
 }
 
 .movie-details {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   /* background-color: white;  */
   /* background-color: rgb(184, 84, 100); */
   background-color: rgb(164, 57, 75);
   padding: 15px;
   transition: opacity 0.3s ease-in-out; /* Smooth transition */
 }
 
 .movie-card:hover .movie-details {
   opacity: 1; /* Show details on hover */
 }
 
 .view-button{
   margin-top: 0.5em;
 }
 
 .favorite-button {
   background: none;
   border: none;
   cursor: pointer;
   color: rgb(205, 15, 46);
   /* color: rgb(40, 3, 99); */
   border-width: 10px;
   padding-left: 36px;
   position: absolute;
   margin-top: -17.5em;
 }
 