
  .hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.847);
  }
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(164, 57, 75); /* Use your desired background color */
    padding: 10px 20px;
    color: white;
  }
  .body{
    background-color: black;
  }
  .logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-icons {
    display: flex;
    gap: 15px;
  }
  
  .mat-icon-button {
    color: white;
  }
  
  .search-bar {
    margin-bottom: 5px; 
    width: 38em;
     margin-left: 29em;
     margin-top: 20px;
     }

  
    