.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* Dark background to match the movie app theme */
    color: white; /* White text for contrast */
    text-align: center;
    padding: 20px;
    /* background-image: url('/assets/movie.jpg');  */
  }

  .title {
    margin-bottom: 20px;
    color: #e50914; /* Netflix-like red color for emphasis */
  }
  
  .message {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .home-button {
    color: white;
  }
  